body {
  background-color: #fffbe6;
}
p {
  font-family: "courier new", monospace;
}
h1 {
  text-align:center;
  font-size: 40px;
  color:#ffc2b3;
  font-family:"Trebuchet MS", Helvetica, sans-serif
}
h2, h4 {
  line-height: 50%
  color:#ffe0cc;
}
div {
  height: 200px;
  width: 50%;
}
